<head>
  <!-- Adicione o link da fonte do Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Playfair Display" rel="stylesheet">
</head>
<div class="rodape container">
  <div class="text1">
    <h1>Quem Somos?</h1>
  </div>
  <div class="membros-container">
    <p>A empresa OPALA foi criada na ETEC Horácio Augusto da Silveira, a fim de focar no desenvolvimento do projeto do nosso TCC, o M ART. <br><br></p>
    <h3><b>EQUIPE</b></h3>
    <h3><b>Henrique de Freitas Gois</b></h3>
    <p>Henrique é responsável pela documentação do projeto, além disso, sua participação é fundamental na área de pesquisa.<br><br></p>
    <h3>Allan de Farias Monteiro</h3>
    <p>Allan é responsável pelo design do sistema, visando atender as expectativas do cliente e garantir uma boa aparência aos projetos.<br><br></p>
    <h3>Fabia Maria Alves</h3>
    <p>Conteúdo do card 3</p>
  </div>
</div>

