<body class="fundo">
<a class="link" href="/">
<div class="Title"> Projetos </div></a>
<div class="cards-container">
<div class="card">
    <img src="../assets/marteLogo.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b style="color: #1BAAE0">M Arte</b></h4>
      <p style="color: #1BAAE0">Plataforma Free-lancer, especialmente construida para a arte</p>
    </div>
  </div>

  <div class="cardTwo">
    <img src="../assets/marteLogo.png" alt="Avatar" style="width:100%">
    <div class="containerTwo">
      <h4><b style="color: #1BAAE0">Ajuda Certa</b></h4>
      <p style="color: #1BAAE0;">Plataforma Freelance</p>
    </div>
  </div>

  <div class="cardThree">
    <img src="../assets/LOGO - MAGYM.png" alt="Avatar" style="width:100%">
    <div class="containerThree">
      <h4><b style="color: #1BAAE0">MAGYM</b></h4>
      <p style="color: #1BAAE0"></p>
    </div>
  </div>
</div>
</body>